<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Acme|Amatic+SC|Dancing+Script|Frijole|Holtwood+One+SC|Oswald|Work+Sans:900" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
    <title>test</title>
    <meta charset="utf-8">
    <meta name="author" content="Jora Khachatryan">
    <meta name="viewport" content="width=device-width">
</head>
<body>

<div id="totop">
    <a href="#first"><img src="/img/up.png"></a>
</div>
    {{{body}}}
<script
        src="https://code.jquery.com/jquery-3.2.1.js"
        integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
        crossorigin="anonymous">
</script>
<script src="/js/functions.js"></script>
<script src="/js/smoothscroll.js"></script>
<script src="/js/parallax.min.js"></script>
</body>
</html>
