<section id="first">
    <div id="greatings">
        <h1>Jane & John</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat.</p>
    </div>
</section>
<nav class="navbar">
    <a href="#first"><div class="icon"><span>Home</span><div class="active"></div></div></a>
    <a href="#second"><div class="icon"><span>Gallery</span><div></div></div></a>
    <a href="#third"><div class="icon"><span>Storyline</span><div></div></div></a>
    <a href="#fourth"><div class="icon"><span>Wedding</span><div></div></div></a>
    <a href="#fifth"><div class="icon"><span>Contact us</span><div></div></div></a>
</nav>
<section id="second">
    <div class="title">
        <h1>Gallery</h1>
    </div>
    <div class="img-section">
        <img src="/img/18.jpg" alt="Wedding image">
    </div>
    <div class="img-section">
        <img src="/img/11.jpg" alt="Wedding image">
    </div>
    <div class="img-section">
        <img src="/img/15.jpg" alt="Wedding image">
    </div>
    <div class="img-section">
        <img src="/img/17.jpg" alt="Wedding image">
    </div>
    <div class="img-section">
        <img src="/img/8.jpeg" alt="Wedding image">
    </div>
    <div class="img-section">
        <img src="/img/10.jpeg" alt="Wedding image">
    </div>
</section>
<section id="third">
    <div id="story">
        <h1>STORYLINE</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
</section>
<section id="fourth">
    <div id="weddinginfo">
        <h1>Wedding</h1>
        <h2>St Sargis<span>    21.09.2023 | 09:00 AM</span></h2>
    </div>
</section>
<section id="fifth">
    <div id="contact">
        <form action="/weddpage" method="POST">
            <label>Name
                <input type="text" name="Name"></label><br>
            <label>Email
                <input type="email" name="Email"></label><br>
            <label>Message
                <textarea name="Message"></textarea></label><br>
            <input type="submit" value="Submit">
        </form>
    </div>
</section>
<section id="sixth">
    <h3>#EventWedding</h3>
    <p>Studio13 Copyright &copy;2017</p>
</section>